@charset "utf-8";
/* CSS Document */
html,
body {
min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: url(/res/slug_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 100% 50px;
    background-color: #333333;
}

/*------begin top nav and search------*/
#nav {
	position:fixed;
	z-index: 1;
    height: 50px;
	top: 0;
	width: 100%;
    background-color: #333333;
}

#nav ul {
    list-style: none;
    width: 950px;
    margin: 0 auto;
    padding: 0;
}

#nav li a{
    float: left;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    height: 20px;
}

#nav li a:hover {
    color: #FF0;
    background-color: #ADAE9B;
}

#nav li a.active {
    color: #FF0;
    background-color: #ADAE9B;
}

.searchbox{
    display: block;
    padding: 15px 15px;
    height: 20px;
}
/*------end top nav and search------*/


/*bluebox*/
.blueishwhite {
	z-index=1;
    display: block;
	background-color: #DDE6E6;
    opacity: 0.9;
    width: 45%;
	min-width: 200px;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
    height: 80%;
	min-height:400px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.blueishwhitetext {
    display: block;
	background-color: #DDE6E6;
    opacity: 0.9;
    width: 45%;
	min-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	min-height:400px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	margin-bottom:8%;
}


/*homepage style*/
.homepage{
}

textarea{
    resize: none;
    outline: none;
    height: 300px;
    padding: 5px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    opacity: .8;
    background-image: url(boxbg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    width:85%;
}

button {
    padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.undertb{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
}


/*Confessions page style*/
.confessionpage{
	padding: 2.5% 10%;
}

/*Rules page style*/
.rulespage{
	padding: 2.5% 10%;
}

/*About page style*/
.aboutpage{
	padding: 2.5% 10%;
}

/*Contact us page style*/
.contactpage{
	padding: 2.5% 10%;
}

/*util classes*/
.center{
	text-align: center;
	display: block;
	margin: 0 auto;
}
